
$body-text-color: #221143;
$primary-color: #8190a2;
$darker-primary-color: #707990;
$heading-color: $primary-color;
$grey: #88aacc;
$dark-grey: #405264;
$light-grey: #aabfd0;
$off-white: #f2f1f4;

$header-font: "Questrial", sans-serif;
$body-font: "Open Sans", sans-serif;
$base-margin: 1rem;
$default-header-font-size: 1;
$smaller-header-font-size: 0.75;

$screen: "only screen";
$medium: "#{$screen} and (min-width: 1024px)";
$large-up: "#{$screen} and (min-width: 1441px) and (max-width: 999999px)";

@font-face {
  font-family: 'icomoon';
  src:url('../icomoon/fonts/icomoon.eot?j1hzg0');
  src:url('../icomoon/fonts/icomoon.eot?#iefixj1hzg0') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?j1hzg0') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?j1hzg0') format('woff'),
    url('../icomoon/fonts/icomoon.svg?j1hzg0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-linkedin:before {
  content: "\e602";
}


html, body {
  font-size: 100%;
}

body {
  font-family: $body-font; 
  max-width: 100%;
  background-color: $off-white;
}

p, ul {
  font-size: 1.125rem;
  font-weight: 300;
}


h1, h2, h3, h4 {
  color: $heading-color;
  font-weight: normal;
  font-family: $header-font;
  text-transform: uppercase;

  padding: 0;
  line-height: 1.1;
}



#main > header {
  text-align: center;

  > a > h1 {
    font-size: 5rem;
    font-family: "Cousine", monospace, sans-serif;
    margin: 0.5em;
  }
}

.container {
  width: 100%;
  max-width: 100%;

  transition: all 200ms;

  .content {
    position: relative;

    
  }
}

.sidebar {
  margin-left: $base-margin;
  background-color: white;
  padding: $base-margin;

  h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
  }
}

h1 {
  margin: 0;
  font-size: $smaller-header-font-size * 3rem;
}

h2 {
  font-size: $smaller-header-font-size * 2rem;
}

h3 {
  font-size: $smaller-header-font-size * 1.5rem;
}

h4 {
  font-size: $smaller-header-font-size * 1rem;
}



article > section {
  padding: 1rem 0;

  > h1, h2, h3, h4, h5, h6, p, pre, ul {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media #{$medium} {
  .container {
    width: 60%;
    margin-left: 10%;
  }

  .sidebar-container {
    position: absolute;
    left: 100%;
    top: 0;
    width: 50%;
  }

  article > header {
    padding-left: 2rem;
    padding-right: 2rem;

    h1 {
      text-align: center;
    }
  }

  article > section {
    padding: 2rem 0;

    > h1, h2, h3, h4, h5, h6, p, pre, ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  h1 {
    margin: 0;
    font-size: $smaller-header-font-size * 4rem;
  }

  h2 {
    font-size: $smaller-header-font-size * 3rem;
  }

  h3 {
    font-size: $smaller-header-font-size * 2.25rem;
  }

  h4 {
    font-size: $smaller-header-font-size * 1.175rem;
  }


}

@media #{$large-up} {

  h1 {
    margin: 0;
    font-size: $default-header-font-size * 4rem;
  }

  h2 {
    font-size: $default-header-font-size * 3rem;
  }

  h3 {
    font-size: $default-header-font-size * 2.25rem;
  }

  h4 {
    font-size: $default-header-font-size * 1.175rem;
  }

  article > header {
    padding-left: 2rem;
    padding-right: 2rem;
    
    h1 {
      text-align: center;
    }
  }

  .container {
    width: 50%;
    margin-left: 25%;
  }

  .sidebar-container {
    position: absolute;
    left: 100%;
    top: 0;
    width: 50%;

  }

  article > section {
    padding: 2rem 0;
  }

}




a {
  color: $primary-color;
  text-decoration: none;

  transition: color 200ms;

  &:hover {
    color: $darker-primary-color;
  }
}

p a, ul a {
  text-decoration: underline;
}

footer {
  height: 2rem;
}

article {

  margin-bottom: 2rem;

  h1 {
    text-align: left;
    line-height: 1;
  }

  @media #{$medium} {
    h1 {
      text-align: center;
      line-height: 1.1;
    }
  }
  
  header {
    background-color: white;
    padding: 2rem 1rem;
    margin-bottom: 2px;


  }

  section {
    background-color: white;

    
  }

  footer {
    background-color: white;
    padding: 1rem 2rem;
    text-align: right;

    span {
      color: $light-grey;
      text-transform: uppercase;
    }
  }
}

li {
  list-style:square;
  margin-bottom: 0.25em;
}

.about-text {
  margin-bottom: $base-margin * 2;
}

div {
    box-sizing: border-box;
}

$android-screen-width: 270px;
$android-screen-height: 480px;
$android-screen-margin: 20px;

.android-frame {
  margin: $base-margin * 2 auto;
  width: $android-screen-width + $android-screen-margin;
  height: $android-screen-height + $android-screen-margin * 4;
  border: 2px solid $primary-color;
  border-radius: 40px;


  .android-screen {
    width: 274px;
    height: 484px;
    border: 2px solid $primary-color;
    margin: 2rem auto 0 auto;

    display: table;
    .centered {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    img {
        display: inline-block;
        margin: 0 auto;
        width: 8rem;

        &.android-gif {
          width: 270px;
          max-width: 100%;
          display: inline-block;
        }
      }
  }

  .android-home-button {
    width: $android-screen-margin;
    height: $android-screen-margin;
    border: 2px solid $primary-color;
    border-radius: 50%;
    margin: $android-screen-margin / 2 auto;
  }

}

.github {
  font-size: 125%;

  .icon-github {
    margin-right: 0.5em;
    color: $dark-grey;
  }
}

.find-me-links {
  font-size: 200%;
  padding: $base-margin;
  margin-bottom: $base-margin * 2;
  display: table;
  width: 100%;

  span {
    display: table-cell;
    vertical-align: middle;


    &:nth-child(2) {
          font-family: "Questrial", "Helvetica", sans-serif;
    }
  }

  .find-me-row {
    display: block;
    width: 100%;
    padding: 0.5rem;
    transition: background-color 300ms;
    cursor: pointer;

    &:hover {
      background-color: $off-white;
    }
  }

  [class^="icon-"] {
      color: $dark-grey;
      padding-right: 0.5em;

  }

}

.article-date {
  color: $dark-grey;
  text-transform: uppercase;
}

img { 
  max-width: 100%;
}

@keyframes slide-up {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-100%,0);
  }
}

.animated-image {
  text-align: center;

  .image-container {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: 0 auto;
  }

  .aspect {
    width: 100%;
    height: 0;
    padding-bottom: 79.58%;
    position: relative;
  }

  img {
    display: block;
    border: 0;
    margin: 0;
  }
  
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
background-color: rgba(0,0,0,0.5);
    #mix-blend-mode: screen;

    #animation: slide-up 9s linear infinite;
  }

  .breakdown-step-name {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    color: white;
    font-weight: 700;
    background-color: rgba(0,0,0,0.6);
  }

}